.bg{
    background-image: url("../assets/background_subpages.jpg"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    color: #F0EDEE;
    text-align: center;
    text-decoration: overline;
    font-family: Roboto;
}

.title1{
    color: #F0EDEE;
    font-size: 200%;
    font-family: Roboto;
  }

  .title11{
    color: #F0EDEE;
    font-size: 150%;
    background-color: rgba(57,62,65,0.9);
    font-family: Roboto;
  }
  
.title2{
    color: rgb(240,237,238);
}

.box{
    font-family: Roboto;
    text-align: left;
    color: rgb(240,237,238);
    background-color: rgba(57,62,65,0.9);
    border-radius: 0px;
}

.link{
    color: #3B8EA5;
}

.link:hover{
    color: #9DF7E5;
    font-style: bold;
}