<div class="bg">
    <br>
    <br>
    <br>
    <br>
    <div data-aos="zoom-in">
        <h1 class="title is-1">Impressum</h1>
        <br>
    </div>
    <div data-aos="zoom-in">
        <div class="container">
            <div class="box">
        <h2 class="title1 is-3">Kontaktadresse</h2><br>
        <p class="is-size-5">
            Swiss Fashion<br>
            Austellungsstrasse 70<br>
            8005 Zürich<br>
            Schweiz<br>
            info@swissfashion.com
        </p><br>  
    <h2 class="title1 is-3">Vertretungsberechtigte Personen</h2><br> 
        <p class="is-size-5">
            Yannick Zalokar, Joel Sennhauser
        </p><br>
    <h2 class="title1 is-3">Haftungsausschluss</h2><br> 
        <p class="is-size-5">
            Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen. 
            Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, 
            durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen. Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, 
            Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
        </p><br> 
    <h2 class="title1 is-3">Haftung für Links</h2><br> 
        <p class="is-size-5">
            Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten abgelehnt. 
            Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.
        </p><br> 
    <h2 class="title1 is-3">Urheberrechte</h2><br> 
        <p class="is-size-5">
            Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich der Firma Swiss Fashion oder den speziell genannten Rechtsinhabern. 
            Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.
        </p><br> 
    <h2 class="title1 is-3">Quellen</h2><br> 
        <p class="is-size-5">
            Dieses Impressum wurde am 20.03.2020 mit dem Impressum Generator der Webdesign Agentur <a class="link" href='https://webkoenig.ch/' target='_blank'>Webkönig</a> erstellt. Die Agentur Webkönig übernimmt keine Haftung.
        </p><br>
        <p class="is-size-5">
            Für die Bildbearbeitung und Animierungen holen wir uns Ressourcen aus folgenden Quellen:<br>
            <a class="link" href='https://stock.adobe.com/ch_de/?gclid=Cj0KCQjw09HzBRDrARIsAG60GP-NIUjXm6zkWB-KSGLkDW4zl_EbbAGe_2urxC55RHGevgomoJtKZ4EaAv5VEALw_wcB&as_channel=sem&as_campclass=brand&as_campaign=CH%7CCPRO%7CStock%7CPURCH%7CAS_Brand%7CGG%7C%7C&as_source=google&as_camptype=acquisition&sdid=39JWBRY5&ef_id=Cj0KCQjw09HzBRDrARIsAG60GP-NIUjXm6zkWB-KSGLkDW4zl_EbbAGe_2urxC55RHGevgomoJtKZ4EaAv5VEALw_wcB:G:s&s_kwcid=AL!3085!3!251084290751!e!!g!!adobe%20bilder' target='_blank'>Adobe Stock</a><br>
            <a class="link" href='https://www.pexels.com/de-de/' target='_blank'>Pexels</a><br>
            <a class="link" href='https://tenor.com/' target='_blank'>Tenor</a><br>
            <a class="link" href='https://pixabay.com/' target='_blank'>Pixabay</a>
        </p><br>
        <p class="is-size-5">
            Um eigene Gif's zu erstellen werden die Platformen <a class="link" href='https://giphy.com/create/gifmaker' target='_blank'>giphy.com gif maker</a> und <a class="link" href='https://gifmaker.me/' target='_blank'>GIFMaker</a> verwendet.
        </p><br>
        <p class="is-size-5">
            Bildbearbeitungssoftware:<br>
            <a class="link" href='https://www.adobe.com/ch_de/products/photoshop.html?gclid=Cj0KCQjw09HzBRDrARIsAG60GP83JDTSR69w8ANlcp5KXZJ5TgzE34nDcQmaaWxRdKu5heDhecJ3Pi4aApeCEALw_wcB&sdid=88X75SKX&mv=search&ef_id=Cj0KCQjw09HzBRDrARIsAG60GP83JDTSR69w8ANlcp5KXZJ5TgzE34nDcQmaaWxRdKu5heDhecJ3Pi4aApeCEALw_wcB:G:s&s_kwcid=AL!3085!3!341214311266!b!!g!!%2Bphoto%20%2Bshop%20%2Badobe' target='_blank'>Adobe Photoshop</a><br>
            <a class="link" href='https://www.blackmagicdesign.com/products/davinciresolve/' target='_blank'>DaVinci Resolve 16</a>
        </p><br> 
    <h2 class="title1 is-3">Fair Use</h2><br> 
        <p class="is-size-5">
            Die Fair Use Lizenz bedeutet, dass die damit gekennzeichneten Werke und Ressourcen lediglich zur Bildung oder Zwecke in den Medien verwendet werden dürfen. Beispiele dafür sind: Stellungsnahmen in den Medien oder Bildungsmaterial wie Bücher etc.
        </p><br> 
    <h2 class="title1 is-3">Public Domain</h2><br> 
        <p class="is-size-5">
            Werke welche mit Public Domain gekennzeichnet werden, können frei verwendet, bearbeitet und geteilt werden. Mit Public Domain gekennzeichnete Werke besitzen kein Copy Right.
        </p><br> 
    <h2 class="title1 is-3">Creative Commons</h2><br> 
        <p class="is-size-5">
            Von Creative Commons gibt es sechs verschiedene Lizenz Arten, welche alle auf Online Medien wie Text, Bilder, Video und Ton ausgelegt sind.
        </p><br> 
        <h4 class="title11 is-4">CC Attribution</h4><br>
            <p class="is-size-5">
                Wenn der Autor der Werke angegeben wird, dürfen diese kostenlos verwendet, kopiert und bearbeitet werden.
            </p><br>
        <h4 class="title11 is-4">CC Attribution-ShareAlike</h4><br>
            <p class="is-size-5">
                Selbst wenn etwas bearbeitet oder verändert wurde, muss das Werk mit derselben Lizen weitergegeben werden.
            </p><br>
        <h4 class="title11 is-4">CC Attribution-NoDerivs</h4><br>
            <p class="is-size-5">
                Es ist verboten das Werk zu bearbeiten oder zu verändern.
            </p><br>
        <h4 class="title11 is-4">CC Attribution-NonCommercial</h4><br>
            <p class="is-size-5">
                Für nicht kommerzielle Zwecke darf die Ressource oder das Werk verwendet werden.
            </p><br>
        <h4 class="title11 is-4">CC Attribution-NonCommercial-ShareAlike</h4><br>      
            <p class="is-size-5">
                Es darf ebenfalls für nicht kommerzielle Zwecke verwendet werden, muss aber unter der gleichen Lizenz weitergegeben werden.
            </p><br>
        <h4 class="title11 is-4">CC Attribution-NonCommercial-NoDerivs</h4><br>        
            <p class="is-size-5">
                Man darf das Werk oder die Ressource nicht bearbeiten und für kommerzielle Zwecke verwenden.
            </p>
        <p class="is-size-5"    >
            Es gibt noch eine weitere Creative Commons Lizenz. Diese Lizenz nennt sich "Creative Commons Zero (CC0)". Bei dieser Lizenz verzichtet man auf das Copyright. Das Werk darf ohne nennung des Autors frei verwendet, bearbeitet und geteilt werden.
        </p></div>
    </div>    
    </div>
</div>