<div class="bg">
  <br>
  <br>
  <br>
  <br>
  <h1 class="title is-1">About us</h1>
  <br>
<div data-aos="zoom-in">
    <div class="container">
    <div class="box">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading is-size-3">Who are we?</p>
          </div>
        </div>
      </nav>
      <div class="container">
        <img class="image has-image-centered" id="us" src="../assets/about-us/together.jpg">
      </div>
      <br> 
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading is-size-2">Yannick Zalokar</p>
            <p class="title">19yrs</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading is-size-2">Joel Sennhauser</p>
            <p class="title">18yrs</p>
          </div>
        </div>
      </nav><br>
      <p class="is-size-3 has-text-centered">
        We are both IT students from Switzerland and work together at the same company.
      </p>
</div>
</div>    
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div data-aos="fade-right">
  <div class="container">
  <div class="box has-text-centered">
    <br> 
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading is-size-3">Our Fashion Interests</p>
        </div>
      </div>
    </nav>
    <p class="is-size-3">
      Our fascination with fashion started to burn in the first year of our apprenticeship. 
      At that time, our interests lay entirely in streetwear such as Supreme, Palace or smaller
      brands such as HUF, Stüssy and Nike. Later, there was also growing interest in high fashion 
      branss, which are much more expensive, such as Helmut Lang, Prada, Off White or Balenciaga. 
      But streetwear remained and is still present. We are looking for the perfect mix of 
      streetwear and high fashion see <a class="link" href="/blog">Blog</a>.
    </p><br>
    <svg viewBox="0 0 300 28">
      <rect id="loading" x="10" y="10" width="20" height="10" /> 
    </svg>
  </div>
  </div>    
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div data-aos="fade-left">
  <div class="container">
    <div class="box has-text-centered">
      <br>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading is-size-3">Our alltime favorite sneakers</p>
          </div>
        </div>
      </nav><br>
      <div class="columns">
        <div class="column is-half">
          <nav class="level">
            <div class="level-item has-text-centered">
                <p class="heading is-size-5">Yannick's favorite sneaker</p>
            </div>
          </nav>
          <button id="button" (click)="showYannick()" class="button is-outlined">INFO</button>
          <div class="yannick">
            <p id="sneaker" class="image has-image-centered">
              <img src="../assets/about-us/aj1.jpeg">
            </p>
          </div><br>
          <canvas class="is-size-4 has-text-centered" id="yannick">

          </canvas>
        </div>
        <div class="column is-half">
          <nav class="level">
            <div class="level-item has-text-centered">
              <p class="heading is-size-5">Joel's favorite sneaker</p>
            </div>
          </nav>
          <button (click)="showJoel()" class="button is-outlined">INFO</button><br>
          <div class="joel">
            <p id="sneaker" class="image has-image-centered">
              <img src="../assets/about-us/af1.jpg">
            </p>
          </div><br>
          <canvas class="is-size-4 has-text-centered" id="joel">

          </canvas>
        </div>
      </div>
    </div>
  </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br>
<div aos-data="flip-up">
  <div class="container">
    <div class="box">
      <nav class="level">
        <div class="level-item has-text-centered">
          <p class="heading is-size-3">Instagram</p>
        </div>
      </nav>
      <nav class="level">
        <div class="level-item has-text-centered">
          <p class="heading is-size-4"><a class="link" href="https://www.instagram.com/yannick.za/" target="_blank">@yannick.za</a></p>
        </div>
        <div class="level-item has-text-centered">
          <p class="heading is-size-4"><a class="link" href="https://www.instagram.com/yannick.za/" target="_blank">@bummknack</a></p>
        </div>
      </nav><br>
      <nav class="level">
        <div class="level-item has-text-centered">
          <p class="heading is-size-3">Contact us</p>
        </div>
      </nav>
      <nav class="level">
        <div class="level-item has-text-centered">
          <p class="heading is-size-4"><a class="link" href="mailto:info@swissfashion.com">Send mail</a></p>
        </div>
      </nav>
    </div>
  </div>
</div><br><br><br>