.bg{
    background-image: url("../assets/background_subpages.jpg"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
    text-align: center;
}

.title{
    color: #F0EDEE;
    text-align: center;
    text-decoration: overline;
    font-family: Roboto;
}

.title1{
    color: #F0EDEE;
    text-align: center;
    font-size: 200%;
    background-color: rgba(57,62,65,0.9);
    font-family: Roboto;
}

.box{
    font-family: Roboto;
    text-align: left;
    color: rgb(240,237,238);
    background-color: rgba(57,62,65,0.9);
    border-radius: 0px;
    padding: 5%;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    font-size: 3em;
  }

* {
    box-sizing: border-box;
}
  
.media{
    padding: 5%;
    background-color: transparent;
}
  
#content {
  color: #F0EDEE;
}

#content-right {
  color: #F0EDEE;
  text-align: center;
}

#link{
  color: #3B8EA5;
}

#link:hover{
  color: #9DF7E5;
  font-style: bold;
}

.fireIcon{
  color: red;
}

#sneaker{
  max-width: 50%;
  margin-top: 2em;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

#sneaker:hover{
  transform: scale(1.2, 1.2);
}

#loading {
    animation-name:             changing;
    animation-duration:         4s;
    animation-direction:        alternate;
    animation-iteration-count:  infinite;
  }
   
  @keyframes changing {
      0% {
          fill:grey;
          width: 1%;
      }
      100% {
          fill: gainsboro;
          width: 94%;
      }
  }

.level{
  background-color: transparent;
}

#us{
  max-width: 50%;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.link{
  color: #3B8EA5;
}

.link:hover{
  color: #9DF7E5;
  font-style: bold;
}

#yannick{
  width: auto;
  height: auto;
  color: #F0EDEE;
  text-decoration: overline;
}

#joel{
  width: auto;
  height: auto;
  color: #F0EDEE;
  text-decoration: overline;
}
