.bg {
    background: url("../assets/background_homepage.gif"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #F0EDEE;
    font-family: Roboto;
}

.card{
    background-color: transparent;
    text-align: center; 
}

#bigTitle{
    text-decoration: overline;
    color: #F0EDEE;
}

#smallTitle{
    text-align: center;
    color: #F0EDEE;
}

#price{
    background-color: #F0EDEE;
    color: #01161E;
}
