<div class="bg">
  <br>
  <br>
  <br>
  <br>
  <p class="title is-1" id="bigTitle">
    What's new
  </p>
  <br>
  <br>
  <br>
  <br>
  <div data-aos="zoom-in">
    <div class="card is-shadowless" style="max-width: 40%; position: static; margin: auto;">
      <div class="card-image">
        <figure class="image is-4by2">
          <img src="../assets/trends/jordan1_high_courtpurple.png" alt="Jordan 1 Court Purple">
        </figure>
      </div>
    </div>
    <p class="title is-3" id="smallTitle">Jordan 1 High OG Court Purple White</p>
    <p class="title is-5" id="smallTitle">Colorway: COURT PURPLE/WHITE-BLACK</p>
    <p class="title is-5" id="smallTitle">Style: 555088-500</p>
    <p class="title is-5" id="smallTitle">Release date: 04/11/2020</p>
    <span class="tag is-large" id="price">170$</span><br><br>
  </div>
  <br>
  <br>
  <br>
  <div data-aos="fade-right">
    <div class="card is-shadowless" style="max-width: 40%; position: static; margin: auto;">
      <div class="card-image">
        <figure class="image is-4by2">
          <img src="../assets/trends/jordan5_offwhite.png" alt="Jordan 5 Off White">
        </figure>
      </div>
    </div>
    <p class="title is-3" id="smallTitle">Jordan 5 Retro Off-White Black</p>
    <p class="title is-5" id="smallTitle">Colorway: BLACK/MUSLIN-FIRE RED</p>
    <p class="title is-5" id="smallTitle">Style: CT8480-001</p>
    <p class="title is-5" id="smallTitle">Release date: 02/15/2020</p>
    <span class="tag is-large" id="price">225$</span><br><br>
  </div>
</div>



