.bg{
    background-image: url("../assets/background_subpages.jpg"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #F0EDEE;
    font-family: Roboto;
}

#bigTitle{
    text-decoration: overline;
    color: #F0EDEE;
}

.title1{
  color: #F0EDEE;
  text-align: center;
  font-size: 200%;
  background-color: rgba(57,62,65,0.9);
  font-family: Roboto;
}


* {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    font-size: 3em;
  }

.media{
  padding: 1em;
  background-color: rgba(57,62,65,0.9);
}

#content {
  color: #F0EDEE;
}

#content-right {
  color: #F0EDEE;
  text-align: center;
}

#link{
  color: #3B8EA5;
}

#link:hover{
  color: #9DF7E5;
  font-style: bold;
}

.fireIcon{
  color: red;
}

.media-left{
  max-width: 20%;
}

