<div class="bg">
    <br>
    <br>
    <br>
    <br>
    <div data-aos="zoom-in">
        <p class="title is-1" id="bigTitle">Trends and News</p>
        <br>
        <br>
        <p class="title1 is-1">Sneakers</p>
    </div>
    <br>
    <div class="container">
        <div data-aos="zoom-in">
            <article class="media">
                <figure class="media-left">
                    <p class="image">
                      <img src="../assets/trends/dunk.jpg">
                    </p>
                </figure>
                <div class="media-content">
                <div class="content">
                    <p id="content" class="title is-5">
                        Nike SB Dunk Low x 7-Eleven
                    </p>
                    <p class="is-size-5" id="content">
                        The international convenience store chain 7-Eleven and Nike SB have teamed up for a very special sneaker release this year.<br>
                        Get a first look on the shoe <a id="link" href="https://www.instagram.com/p/B_jTJFZJN_F/?utm_source=ig_embed" target='_blank'>here</a>.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                    </div>
                </nav>
                </div>
                <div class="media-right">
                    <div id="icon" class="image is-64x64">
                        <img src="../assets/piktogramme/iconfinder_flame_1055059.png">
                    </div>
                    <p id="content-right" class="is-size-6">Heat</p>
                </div>
            </article>
        </div><br><br><br><br>
        <div data-aos="zoom-in">
            <article class="media">
                <figure class="media-left">
                    <p class="image">
                      <img src="../assets/trends/jordan1.jpeg">
                    </p>
                </figure>
                <div class="media-content">
                <div class="content">
                    <p id="content" class="title is-5">
                        The Air Jordan 1 Comeback
                    </p>
                    <p class="is-size-5" id="content">
                        The Air Jordan who was first released in 1985, is more popular than ever.<br>
                        Everyone loves the shoe and everyone wants them. The simple design and endless color variations are probably the cause of the hype.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                    </div>
                </nav>
                </div>
                <div id="icon" class="media-right">
                    <div class="image is-64x64">
                        <img src="../assets/piktogramme/loupe.png">
                    </div>
                    <p id="content-right" class="is-size-6">Classic</p>
                </div>
            </article>
        </div><br><br><br><br>
    </div>
    <div data-aos="zoom-in">
        <p class="title1 is-1">Clothes</p><br>
    </div>
    <div class="container">
        <div data-aos="zoom-in">
            <article class="media">
                <figure class="media-left">
                    <p class="image">
                      <img src="../assets/trends/travis_scott.jpg">
                    </p>
                </figure>
                <div class="media-content">
                <div class="content">
                    <p id="content" class="title is-5">
                        Cackus Jack Fortnite Merchandise
                    </p>
                    <p class="is-size-5" id="content">
                        Due to the latest release of his single "THE SCOTTS" and the ingame live event in fortnite, Travsi Scott released his new merch.
                        Six action figures, a back pack and different wearables are available.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                    </div>
                </nav>
                </div>
                <div class="media-right">
                
                </div>
            </article>
        </div><br><br><br><br>
        <div data-aos="zoom-in">
            <article class="media">
                <figure class="media-left">
                    <p class="image">
                      <img src="../assets/trends/varsity.jpg">
                    </p>
                </figure>
                <div class="media-content">
                <div class="content">
                    <p id="content" class="title is-5">
                        Billionare Boys Club Vintage Varsity Jacket
                    </p>
                    <p class="is-size-5" id="content">
                        For the Spring/Summer 2020 lineup, Billionaire Boys Club release a Vintage Varsity Jacket.
                        <br>It should be a hommage to old college football. The jacket is made of wool and comes with a creamy eg-shell and dark green tone.<br><br>
                        It's currently available on <a id="link" href="https://www.brownsfashion.com/shopping/billionaire-boys-club-astro-varsity-bomber-jacket-15358890?fsb=1" target='_blank'>Brown's website</a>
                        for 576$.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                    </div>
                </nav>
                </div>
                <div class="media-right">
                    <div id="icon" class="image is-64x64">
                        <img src="../assets/piktogramme/dollar.png">
                    </div>
                    <p id="content-right" class="is-size-6">Expensive</p>
                </div>
            </article>
        </div><br><br><br><br>
        <div data-aos="zoom-in">
            <article class="media">
                <figure class="media-left">
                    <p class="image">
                      <img src="../assets/trends/noah.jpg">
                    </p>
                </figure>
                <div class="media-content">
                <div class="content">
                    <p id="content" class="title is-5">
                        NOAH Unveils THANK YOU T-Shirts for Coronavirus Aid
                    </p>
                    <p class="is-size-5" id="content">
                        All proceeds off this item will directly go to a charity.
                         The money is then used for providing doctors and nurses protective gear, who are fighting on the front of this COVID-19 outbrake.
                    </p>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                    </div>
                </nav>
                </div>
                <div class="media-right">

                </div>
            </article>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div data-aos="zoom-in">
        <p class="title1 is-1">Songs April 2020</p><br>
    </div>
    <br>
    <div data-aos="zoom-in">
        <iframe src="https://open.spotify.com/embed/track/39Yp9wwQiSRIDOvrVg7mbk" width="335" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <iframe src="https://open.spotify.com/embed/track/5UusfWUMMLEXLMc1ViNZoe" width="335" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <iframe src="https://open.spotify.com/embed/track/0ROE31C8Wu4neZoR9stM9e" width="335" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <iframe src="https://open.spotify.com/embed/track/6lU4BQWZomCWRfKSowfezE" width="335" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <br><br><br><br>
    <div class="container">
        <div data-aos="zoom-in">
            <article class="media">
                <div class="media-content">
                <div class="content">
                    <p id="content" class="title is-5">
                        Playboi Carti -@Meh (MP3)
                    </p>
                    <audio src="../assets/audio/meh.mp3" type="audio" controls></audio>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                    </div>
                </nav>
                </div>
            </article>
        </div><br><br><br><br>
        <div data-aos="zoom-in">
            <article class="media">
                <div class="media-content">
                <div class="content">
                    <p id="content" class="title is-5">
                        Travis Scott ft. Kid Cudi -THE SCOTTS (WAV)
                    </p>
                    <audio src="../assets/audio/the_scotts.wav" type="audio" controls>hhh</audio>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                    </div>
                </nav>
                </div>
            </article>
        </div><br><br><br><br>
        <div data-aos="zoom-in">
            <article class="media">
                <div class="media-content">
                <div class="content">
                    <p id="content" class="title is-5">
                        Lil Uzi Vert -Sasuke (OGG)
                    </p>
                    <audio src="../assets/audio/sasuke.ogg" type="audio" controls></audio>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                    </div>
                </nav>
                </div>
            </article>
        </div><br>
    </div>
</div>