<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger is-dark" aria-label="menu" aria-expanded="false" data-target="navBar" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navBar" class="navbar-menu">
    <div class="navbar-start">
      <a id="item" class="navbar-item" href="/trends">
        Trends
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item" href="/blog">
        Blog
      </a>
    </div>
      <a class="navbar-item" id="home" href="/home">
        <img src="../assets/logo/logo.png">
      </a>
    <div class="navbar-end">
      <a class="navbar-item" href="/aboutus">
        About us
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item" href="/impressum">
        Legal
      </a>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
