<div class="bg">
  <br>
  <br>
  <br>
  <br>
  <div data-aos="zoom-in">
      <p class="title is-1" id="bigTitle">Blog</p>
      <br>
      <br>
      <p class="title1 is-1">Fitpics</p>
  </div>
  <br>
  <div data-aos="zoom-in">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by2">
          <img src="../assets/images/img_1.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
              <div class="media-content">
               <p class="title2 is-4">Joel Sennhauser</p>
              </div>
          <div class="content">
              <br>
              Crewneck: Stone Island - 200$ <br>
              Trousers: ONLY & SONS - 70$
          </div>
      </div>
  </div>
  <br>
  </div>
  <div>
    
  </div>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by2">
      <img src="../assets/images/dunk.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
          <div class="media-content">
           <p class="title2 is-4">Yannick Zalokar</p>
          </div>
      <div class="content">
          <br>
          Longsleeve: Guess x A$AP R. - 90$ <br>
          Pants: Dickies - 40$ <br>
          Shoes: Nike Dunk Low - 280$
      </div>
  </div>
</div>
<br>
<div class="card">
    <div class="card-image">
      <figure class="image is-4by2">
        <img src="../assets/images/img_2.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
            <div class="media-content">
             <p class="title2 is-4">Joel Sennhauser</p>
            </div>
        <div class="content">
          <br>
          Crewneck: Diesel - 220$ <br>
          Chest-Bag: NDG - 150$ <br>
          Trackpants: Nike - 70$ <br>
          Shoes: Nike AF1 - 130$
        </div>
    </div>
</div>
<br>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by2">
      <img src="../assets/images/img_2.jpeg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
          <div class="media-content">
           <p class="title2 is-4">Yannick Zalokar</p>
          </div>
      <div class="content">
          <br>
          Tee: Études - 120$ <br>
          Pants: H&M - 50$ <br>
          Shoes: Nike AF1 - 130$
      </div>
  </div>
</div>
<br>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by2">
        <img src="../assets/images/img_3.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
            <div class="media-content">
             <p class="title2 is-4">Joel Sennhauser</p>
            </div>
        <div class="content">
            <br>
            Tee: 1017 ALYX 9SM - 150$ <br>
            Chest-Bag: NDG - 150$ <br>
            Trackpants: Nike - 70$ <br>
            Shoes: Nike AF1 - 130$
        </div>
    </div>
</div>
<br>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by2">
      <img src="../assets/images/img_5.jpeg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
          <div class="media-content">
           <p class="title2 is-4">Yannick Zalokar</p>
          </div>
      <div class="content">
          <br>
          Sweater: Vintage YSL - 80$ <br>
          Pants: Weekday - 60$ <br>
          Shoes: Jordan 1 Pine Green - 320$
      </div>
  </div>
</div>
<br>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by2">
        <img src="../assets/images/img_4.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
            <div class="media-content">
             <p class="title2 is-4">Joel Sennhauser</p>
            </div>
        <div class="content">
          <br>
          Jacket: unknown - 45$ <br>
          Longsleeve: CDG Play - 120$ <br>
          Chain: TheChainplug - 25$ <br>
        </div>
    </div>
</div>
<br>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by2">
      <img src="../assets/images/img_3.jpeg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
          <div class="media-content">
           <p class="title2 is-4">Yannick Zalokar</p>
          </div>
      <div class="content">
          <br>
          Sweatshirt: Gosha - 280$ <br>
          Pants: H&M - 50$ <br>
          Shoes: Nike AF1 - 130$
      </div>
  </div>
</div>
<br>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by2">
        <img src="../assets/images/img_5.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
            <div class="media-content">
             <p class="title2 is-4">Joel Sennhauser</p>
            </div>
        <div class="content">
          <br>
          Tee: Peso - 80$
        </div>
    </div>
</div>
<br>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by2">
      <img src="../assets/images/img_4.jpeg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
          <div class="media-content">
           <p class="title2 is-4">Yannick Zalokar</p>
          </div>
      <div class="content">
          <br>
          Tee: Helmut Lang - 200$ <br>
          Turtleneck: Weekday - 80$
      </div>
  </div>
</div>
<br>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by2">
        <img src="../assets/images/img_6.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
            <div class="media-content">
             <p class="title2 is-4">Joel Sennhauser</p>
            </div>
        <div class="content">
          <br>
          Puffer Jacket: TNF - 280$ <br>
          Jacket: unknown - 45$ <br>
          Tee: Stüssy - 60$ <br>
          Trackpants: Nike - 70$ <br>
          Shoes: Nike AF1 - 130$
        </div>
    </div>
</div>
<br>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by2">
      <img src="../assets/images/pine.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
          <div class="media-content">
           <p class="title2 is-4">Yannick Zalokar</p>
          </div>
      <div class="content">
        <br>
        Sweatshirt: Vintage Nike - 50$ <br>
        Pants: Dickies - 40$ <br>
        Shoes: Jordan 1 Pine Green - 320$
      </div>
  </div>
</div>
<br>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by2">
        <img src="../assets/images/img_8.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
            <div class="media-content">
             <p class="title2 is-4">Joel Sennhauser</p>
            </div>
        <div class="content">
          <br>
          Hoodie: Helmut Lang - 230$ <br>
          Pants: Burton Menswear - 70$ <br>
        </div>
    </div>
</div>
<br>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by2">
      <img src="../assets/images/me.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
          <div class="media-content">
           <p class="title2 is-4">Yannick Zalokar</p>
          </div>
      <div class="content">
        <br>
        Sweatshirt: Vintage YSL - 80$ <br>
        Shirt: Hugo Boss - 120$ <br>
        Pants: Dickies - 40$ <br>
        Shoes: Nike AF 1 - 130$
      </div>
  </div>
</div>
<br>

<div class="card">
    <div class="card-image">
      <figure class="image is-4by2">
        <img src="../assets/images/img_10.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
            <div class="media-content">
             <p class="title2 is-4">Joel Sennhauser</p>
            </div>
        <div class="content">
          <br>
          Puffer Jacket: TNF - 280$ <br>
          Hoodie: Helmut Lang - 230$ <br>
          Pants: Burton Menswear - 70$ <br>
          Shoes: Revenge x Storm - 220$
        </div>
    </div>
</div>
<br>
<h2 class="title1 is-1">Live-Fits</h2>
<br>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by2">
      <br>     
      <video id="myVideo" class="center" controls>
      <source src="../assets/assan_vid.mp4" type="video/mp4">
      </video>      
    </figure>
  </div>
  <div class="card-content">
          <div class="media-content">
           <p class="title2 is-4">Assan</p>
          </div>
      <div class="content">
        <br>
          This is Assan, a friend of ours. He has been modeling for several years
           and is very interested in fashion. He also collects various items from various brands.
      </div>
  </div>
</div>
<br>
</div>
