.bg{
    background-image: url("../assets/background_subpages.jpg"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}

.title{
    color: #F0EDEE;
    text-align: center;
    text-decoration: overline;
    font-family: Roboto;
}

.title1{
    color: #F0EDEE;
    text-align: center;
    font-size: 200%;
    background-color: rgba(57,62,65,0.9);
    font-family: Roboto;
}

.title2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-family: Roboto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.card {
    max-width: 25%; 
    position: static; 
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .card{
        min-width: 90%; 
        position: static; 
    }
  }